# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\vAsmad\CLionProjects\Algoritmos-y-Estructura-de-Datos-1\Practicas\Practica_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
