# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Lautaro Disco H\Estudios\Algoritmos y Estructuras de Datos 1\Labo\Clase 8 Complejidad\.idea/dataSources/
/dataSources.local.xml
